{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Luo uusi nuottikokoelma</h2>

<form action="/new_sheet_collection" method="post">
    Kokoelman nimi: <input type="text" name="collection_name">
    <p>
    Kokoelman tyyppi:
    <select name="collection_type">
    <option value="book"> kirja
    <option value="loose"> irtolehtikokoelma
    <option value="electronic"> sähköinen kokoelma
    </select>
    <input type="submit" value="Luo kokoelma">
</form>

{% endblock %}