{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Nuottikokoelma</h2>

<p>Kokoelman nimi: {{ collection.name }}</p>
<p>Kokoelman tyyppi: {{ collection.type }}</p>

<h3>Kokoelman nuotit</h3>

<table>
    <tr>
        <th>Nimi</th>
        <th>Säveltäjä</th>
        <th>Sanoittaja</th>
        <th>Sovittaja</th>
        <th>Tekijä</th>
        <th>Esittäjä</th>
    </tr>

    {% for sheet in coll_sheets %}
    <tr>
        <td>{{ sheet.name }}</td>
        <td>{{ sheet.composer }}</td>
        <td>{{ sheet.writer }}</td>
        <td>{{ sheet.arranger }}</td>
        <td>{{ sheet.creator }}</td>
        <td>{{ sheet.artist }}</td>     
    </tr>
    {% endfor %}

</table>

<a href="/sheet_collections/{{ collection.id }}/new_sheet">Lisää nuotti</a>

<h3>Kokoelman omistajat</h3>

{% if not owners%}

Kokoelmalla ei ole omistajia.

{% else %}

<table>
    <tr>
        <th>Omistaja</th>
    </tr>

    {% for owner in owners %}
    <tr>
        <td>{{ owner.name }}</td>
    </tr>
    {% endfor %}

</table>

{% endif %}

{% if is_collection_owner %}

Omistat tämän kokelman.

{% else %}

<form action="/sheet_collections/{{ collection.id }}" method="post">
    <input type="submit" value="Lisää itsesi kokoelman omistajaksi">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

{% endif %}

{% endblock %}