{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}

<h2>Selaa nuottikokoelmia</h2>

<table>
    <tr>
        <th>Kokoelman nimi</th>
        <th>Kokoelman tyyppi</th>
        <th>Omistajien lkm</th>
    </tr>

    {% for collection in collections %}
    <tr>
        <td><a href="/sheet_collections/{{ collection.id }}">{{ collection.name }}</a></td>
        <td>{{ collection.type }}</td>
        <td>{{ collection.count }}</td>
    </tr>
    {% endfor %}

</table>

{% endblock %}